.cash_flow_line_main_head{
    border-width: 3px;
    font-weight: bold;
    border-bottom-style: double;
    color: #736868;
    font-size: 14px;
}

.cash_flow_line_main_head_td{
    font-weight: bold;
    padding-top: 32px;
}
.cash_flow_line_sub_head{
    border-bottom: 1px solid #807676;
}
.cash_flow_line_sub_head_span{
    font-style: italic;
    margin-left: 15px;
}
.cash_flow_line_sub_span{
    margin-left: 15px;
}

.cash_flow_line_sub_td{
    font-weight: bold;
    padding-top: 25px;
}

.cash_flow_line_val_tr{
    border-bottom: 1px solid #eee;
}
.cash_flow_line_val_td{
    font-weight: bold;
    padding-top: 25px;
}
.cash_flow_line_val_span{
    margin-left: 30px;
}
.o_cashflow_report_search {
    margin-left: 10px;
    margin-right: 10px;
    .o_account_report_select {
        min-width: 100px;
    }
}