.ttb_table .ttb_table_head .ttb_table_row {
    border: 1px solid #e6e6e6;
    border-collapse: separate;
}
.ttb_table_head_data{
    border: 2px solid #e6e6e6;
}
.ttb_table_td{
    border: 1px solid #e6e6e6;
}